
/*~~~~~~~~~< GENERAL STYLE >~~~~~~~~~*/

body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #121212;
}

a {
	text-decoration: none;
}

ul, li, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
}

#wrapper {
	position: relative;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5em;
	margin-bottom: 5em;
	padding: 5em 5em 3em 5em;
	overflow: hidden;
}

/*~~~~~~~~~< TYPHOGRAPHY STYLE >~~~~~~~~~*/

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", sans-serif;
	margin: 0 0 10px;
	font-weight: normal;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

/*~~~~~~~~~< BUTTON STYLE >~~~~~~~~~*/

.btn {
	position: relative;
	display: inline-block;
	border: 1px solid transparent;
	border-radius: 0px;
	background-color: #4cd9c9;
	padding: 10px 20px;
	color: #fff;
	text-align: center;
	margin-top: 10px;
}

.btn-other {
	background-color: transparent;
	border-color: #4cd9c9;
	color: #111;
	transition: all .4s ease-in-out;
}

.btn-other:hover {
	background-color: #4cd9c9;
	border-color: transparent;
	color: #fff;
	-webkit-transition: all .4s ease-in-out;	
	-moz-transition: all .4s ease-in-out;	
	-ms-transition: all .4s ease-in-out;	
	-o-transition: all .4s ease-in-out;	
	transition: all .4s ease-in-out;	
}

/*~~~~~~~~~< TITLE STYLE >~~~~~~~~~*/

.title {
	position: relative;
	text-align: center;
}

.title-small {
	position: relative;
	text-align: left;
}

.title h3, .title-small h3 {
	font-size: 22px;
	font-weight: bold;
	display: inline-block;
	background-color: #4cd9c9;
	color: #fff;
	padding: 15px 20px 15px 20px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;	
}


/*~~~~~~~~~< PROGGRES STYLE >~~~~~~~~~*/

.tooltip {
	position: relative;
	float: right;
	z-index: 1;
}

.tooltip > .tooltip-inner {
	background-color: #a9bcd0;
	padding: 5px 15px;
	color: #000;
	font-weight: bold;
	font-size: 13px;
	border-radius: 0px;
}

.popup + .tooltip > .tooltip-arrow {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #a9bcd0;
}

.progress {
	border-radius: 0;
	overflow:  visible;
}

.progress-bar {
	background: #4cd9c9;
	transition: width 1.5s ease-in-out;
}

/*~~~~~~~~~< HEADER STYLE >~~~~~~~~~*/

.header-img {
	text-align: center;
}

.header-overlow {
	position: relative;
	color: #111;
}

.header-overlow h4 {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1.5px;
	margin-bottom: 10px;
}

.header-overlow h1 {
	font-family: "Montserrat" , sans-serif;
	font-weight: 800;
	letter-spacing: 1px;
	margin-bottom: 3px;
}

ul.header-list li {
	display: inline-block;
	padding-right: 5px;
}

ul.header-list li p {
	font-weight: 500;
	letter-spacing: 0.5px;
}

ul.header-list li i {
	font-size: 13px;
	padding-left: 5px;
}

.header-desc {
	position: relative;
	padding-top: 20px;
}

.header-info {
	position: relative;
	padding-top: 15px;
}

.header-grid {
	padding-left: 0px
}

/*~~~~~~~~~< ABOUT STYLE >~~~~~~~~~*/

#about {
	position: relative;
	padding-top: 50px;
}

#border-top {
	border-top: 2px solid #666;
	margin-top: 20px;
	padding-bottom: 20px;
}

.about-wrap {
	position: relative;
	padding-top: 20px;
}

.about-text p {
	font-size: 14px;
	line-height: 23px;
	text-align: justify;
}

.education-content {
	text-align: right;
}

.other-left {
    background: #fff;
    padding: 10px 0px;
    margin-bottom: 10px;
    text-align: left
}

.other-left h2 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
    margin-top: 0;
}

.other-left span.other-date {
    float: right;
    margin-top: -30px;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    background: #4cd9c9;
    padding: 5px 10px;
}

.other-left h3 {
    margin-top: 0;
    font-size: 14px;
    font-weight: 300;
    color: #333;
    margin-bottom: 15px;
}

.other-left p {
    font-size: 15px;
    font-weight: 300;
    color: #333;
    letter-spacing: 1px;
    text-align: justify;
}

/*~~~~~~~~~< SERVICE STYLE >~~~~~~~~~*/

#service {
	position: relative;
	padding-top: 20px;
	padding-bottom: 30px;
}

.wrap {
	padding-top: 7em;
}

.service-content {
	position: relative;
	text-align: center;
	background-color: #f9f9f9;
	padding: 30px 20px;
}

.service-icon i {
	display: inline-block;
	background-color: #4cd9c9;
	color: #fff;
	padding: 20px 25px;
	border-radius: 50%;
	font-size: 48px;
}

.service-text {
	padding-top: 15px;
}

.service-text h3 {
	font-size: 20px;
	padding-top: 10px;
	font-weight: bold;
	text-transform: uppercase;
}

.service-text p {
	font-family: "Open Sans", sans-serif;
	color: #666;
	text-transform: justify;
	line-height: 24px;
	letter-spacing: 0.5px;
}

/*~~~~~~~~~< OTHER STYLE >~~~~~~~~~*/

#other {
	background-color: transparent;
	padding: 30px 30px;
}

.other-content {
	position: relative;
	text-align: center;
}

.other-content h3 {
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #333;
	letter-spacing: 0px;
	line-height: 32px;
	margin-bottom: 8px;
}

.other-content p {
	font-style: italic;
}

/*~~~~~~~~~< WORK STYLE >~~~~~~~~~*/

#work {
	position: relative;
	padding-top: 20px;
	padding-bottom: 30px;
}

.work-content {
	position: relative;
	padding-top: 20px;
}

.work-single {
	position: relative;
}

.work-img img {

}

/*~~~~~~~~~< CONTACT STYLE >~~~~~~~~~*/

#contact {
	position: relative;
	padding-top: 20px;
	padding-bottom: 30px;
}

.contact-left {
	position: relative;
	border-right: 2px solid #4cd9c9;
	padding: 0px 30px;
	margin-top: 20px;	
}

.contact-right {
	position: relative;
	border-left: 0px solid #a9bcd0;
	padding: 0px 30px;
	margin-top: 20px;
}

.contact-form {
    border-radius: 3px;
    margin-top: 5px;
}

.form-control {
    display: block;
    border: 1px solid #4cd9c9;
    width: 100%;
    height: 45px;
    padding: 15px 20px;
    font-size: 16px;
    line-height: 1.5em;
    color: #333;
    background-color: transparent;
    background-image: none;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 10px;
}

.form-control::-moz-placeholder {
    color: #666;
    font-style: italic;
    opacity: 1;
}

.form-control:focus {
    border-color: #333;
    color: #333;
    outline: 0;
    box-shadow: none;
}

.contact-form input[type='submit'] {
	font-family: 'Roboto', sans-serif;
    display: inline-block;
    color: #fff;
    background: #4cd9c9;
    padding: 10px 30px;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 0px;
    letter-spacing: 1px;
    font-weight: 700;
    margin-top: 5px;
}

.contact-form input[type='submit']:hover {
    background: transparent;
    border: 1px solid #a9bcd0;
    color: #222;
    -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
         -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
}

.contact ul.list-contact,
.contact ul.list-icon {
	padding-left: 15px;
}

.contact ul.list-contact li {
	display: block;
	padding: 18px 0px;
	font-size: 15px;
}

.contact ul.list-contact li:nth-child(1) {
	padding-top: 5px;
}

.contact ul.list-contact i.fa {
	margin-right: 10px;
	font-size: 30px;
	color: #4cd9c9;
	vertical-align: middle;
	width: 40px;
}

.contact ul.list-contact li span {
	color: #333;
	font-size: 16px;
	font-weight: bold;
	padding-right: 10px;
}

.contact ul.list-icon li {
	display: inline-block;
	padding: 10px 10px;
	margin: 5px 3px;
	border: 1px solid transparent;
	border-radius: 50px;
	text-align: center;
	width: 45px;
	background-color: #f3f3f3;
}

.contact ul.list-icon li:hover {
	background-color: transparent;
	-webkit-transition: all 0.4s ease-in-out 0s;
	   -moz-transition: all 0.4s ease-in-out 0s;
	    -ms-transition: all 0.4s ease-in-out 0s;
	        transition: all 0.4s ease-in-out 0s;
}

.contact ul.list-icon i.fa {
	font-size: 20px;
	color: #4cd9c9;
}

/*~~~~~~~~~< FOOTER STYLE >~~~~~~~~~*/

.footer {
	position: relative;
	padding-top: 10px;
	padding-bottom: 0px;
	background-color: #fff;
}

.footer p {
	text-align: center;
	padding-top: 15px;
}  

.footer a {
	color: #048ad3;
}