@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';


/*HOME*/


body {
   
background: #232526; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
max-width: 100% !important;        
    color: #757575;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    padding-bottom: 60px;
    text-decoration: none;
}
img {
	width: 100%;
}


/*FONT STYLE*/


h1, h2, h3, h4, h5, h6 {
    font: 400 46px/1.2 'Montserrat', serif, sans-serif;
    margin: 5px 0 5px;
    color: #222;
}

h1 {
    font-size: 64px;
    font-weight: 700;
    margin: 5px 0 15px;
}

h2 {
    font-size: 30px;
    font-weight: 700;
}

h3 {
    font-size: 22px;
    text-transform: uppercase;
    margin: 5px 0 15px;
}

h4 {
    font-size: 16px;
    margin: 5px 0 10px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 13px;
}



/*GENERAL STYLE*/


.container {
    background: #757F9A; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #757F9A , #D7DDE8); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #757F9A , #D7DDE8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
    padding: 70px 75px;
    margin: 50px auto;
    border: 1px solid transparent;
}
.frist {
	border:1px solid black;
}
.class ul li {
	list-style: none;
	display: block;
	padding: 5px 5px;
	color: #222;
}
ul.list li i {
	border: 1px solid #222;
	border-radius: 1%;
	    width: 37px;
    height: 37px;
    padding: 3px 4px 3px 5px;
    background-color: #222;
    color: #fff;
}
ul.list a {
	text-decoration: none;
}
ul.list li i:hover  {
	background-color: #fff;
	color: #222;
	border: 1px solid transparent;
	border-radius: 50%;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}
.off {
	     padding: 0px 20px;
    margin-top: 30px;
    margin-right: -289px;
    margin-bottom: -74px;
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}
.info {
	text-decoration: none;
	color: #222;
	padding: 3px 10px;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width: 768px){
	.mainleft {
		margin-left: 55px;
	}
	.mainright {
		margin-left: 55px;
	}
	#top-header {
		margin-left: 10px;
	}
	.foto img {
		margin-left: 30px;
	}
	.list {
		text-align: left;
		padding: 0px 0px;
	}
}
@media only screen and (max-width: 320px){
	.mainleft {
		margin-left: 35px;
	}
	.mainright {
		margin-left: 5px;
	}
	#top-header {
		margin-left: 10px;
	}
	.foto img {
		margin-left: -3px;
		border:1px solid transparent;
		border-radius: 1px;
	}
}

@media only screen and (max-width: 800px){
	.container {
	    margin-top: 10px; 
	    margin-bottom: 30px;
	}
 	body {
        padding-bottom: 10px;
        text-align: center;
    }
    .class ul li {
	list-style: none;
	display: inline-block;
	padding: 10px 5px;
	text-align: center;
	color: #222;
	}
	.list {
		text-align: left;
		padding: 0px 0px;
	}
	.off {
	       padding: 0px 39px;
    margin-top: -157px;
    margin-right: -240px;
    margin-bottom: 105px;
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}
}
@media only screen and (max-width: 640px){
	.container {
	    padding: 10px;
	}
	.foto img {
		border-radius: 0px;
	}
}
.mainleft {
    padding-right: 30px;
}


/*TOP-HEADER STYLE*/

.foto img {
	border-radius: 10px;
}

/*ACCORDION STYLE*/

.main_accordion{}
.main_accordion .single_accordion{
    margin-bottom: 10px;
}
button.accordion {
    background:url(../img/accordion.png) no-repeat scroll right -114px #333;
    color: #fff;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    transition:background-color 0.5s ease-in-out;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

 button.accordion:hover {
    background:url(../img/accordion.png) no-repeat scroll right 10px #ec4848;;
}

div.panel {
    padding: 0.5rem;
    background-color: #fefefe;
    max-height: 0;
    overflow: hidden;
    transition:all 0.6s ease-in-out;
    border: 1px solid #ddd;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;
}

/*EXPERINCES STYLE*/

.tempat {
	color: #222;
    font-size: 15px;
    font-weight: bold;
}
.resmi {
	border:2px solid #222;
	margin: 0px;
	text-align: center;
	color: #222;
}
.description {
	border:2px solid #222;
	padding: 0px 18px;
margin: 0px -66px 0px 3px;
}
.description:after {
    content: '';
    position: absolute;
    top: 11px;
    right: 0;
    left: -5px;
    height: 0;
    width: 0;
    border: solid transparent;
    border-right-color: #222;
    border-width: 12px;
    pointer-events: none;
}
.set-job {
	padding-bottom: 20px;
}
@media only screen and (max-width: 320px){
	.resmi {
	border:2px solid #222;
	margin: 0px 48px;
	text-align: center;
	color: #222;
	margin-bottom: 10px;
	margin-top: 10px;
	}
	.description:after {
    content: none;
    position: absolute;
    top: 11px;
    right: 0;
    left: -5px;
    height: 0;
    width: 0;
    border: solid transparent;
    border-right-color: #222;
    border-width: 12px;
    pointer-events: none;
	}
}

/*PORTFOLIO STYLE*/

.port-caption {
	position: absolute;
	top: 100px;
	background-color: rgba(51, 51, 51, 0.58);
	opacity: 0;
	width: 82%;
	height: 88%;
	left: 9%;
	top: 0%;
	padding-top: 15%;
	text-align: center;
	color: #fff;
	cursor: pointer;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}
.port:hover .port-caption {
	opacity: 1;
}
.thumbnail {
	border-radius: 1px;
	border:none;
}


/*CONTACT US STYLE*/

.low {
    margin-bottom: -39px;
}
.pull-left  ul li{
	padding-bottom: 10px;
	list-style: none;
	/*border-right: 1px solid #222;
	border-bottom: 1px solid #222;
	opacity: 0.2;*/
}
#map {
       width: 320px;
       height: 200px;  
      }
@media only screen and (max-width:320px){
	#map {
           width: 263px;
    height: 200px; 
      }
}
